.cart__list
{
    display: flex;
    flex-direction: column;
}

.cart__item
{
    display: flex;
    align-items: center;

    width: 100%;
    margin-bottom: 5px;
    padding: 5px 10px;

    border: 1px solid #dee1e4;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .6);
}

.cart__link
{
    width: 7%;
}

.cart__item .photo
{
    display: flex;

    width: 70px;
    height: 70px;

    border: 1px solid #dee1e4;
    border-radius: 2px;
    background-color: #fff;

    align-items: center;
    justify-content: center;
}

.cart__item img
{
    max-width: 95%;
    max-height: 95%;
}

.cart__articul
{
    width: 12%;
    text-align: center;
}

.cart__nalichie
{
    width: 9%;
}

.cart__title
{
    width: 50%;
}

.cart__price
{
    width: 12%;
    text-align: right;
}

.common-price
{
    font-size: 22px;

    display: flex;

    justify-content: flex-end;
}

.empty-cart
{
    font-size: 30px;

    display: flex;

    margin: 50px 0 250px;

    justify-content: center;
}

.counter
{
    display: flex;

    width: 10%;

    justify-content: space-around;
}

.counter__input
{
    font-size: 15px;

    width: 25px;
    height: 25px;

    text-align: center;

    border: 1px solid #dee1e4;
    border-radius: 3px;
}

.counter__button
{
    position: relative;

    width: 25px;
    height: 25px;

    cursor: pointer;

    border: 1px solid #dee1e4;
    background-color: #fff;
}

.counter__button_type_plus:after
{
    width: 13px;
    height: 13px;
    position: absolute;
    top: 5px;
    left: 6px;

    content: '';
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTExIDExVjIuOTkxYzAtLjUzNi40NDctLjk5MSAxLS45OTEuNTU2IDAgMSAuNDQ0IDEgLjk5MVYxMWg4LjAwOGMuNTM2IDAgLjk5Mi40NDcuOTkyIDEgMCAuNTU2LS40NDUgMS0uOTkyIDFIMTN2OC4wMDhjMCAuNTM2LS40NDguOTkyLTEgLjk5Mi0uNTU3IDAtMS0uNDQ1LTEtLjk5MlYxM0gyLjk5MUMyLjQ1NSAxMyAyIDEyLjU1MiAyIDEyYzAtLjU1Ny40NDQtMSAuOTkxLTFIMTF6Ii8+PC9zdmc+);

    color: #a8abad;
}

.counter__button_type_minus.disabled
{
    border-color: #f0f4f7;
}

.counter__button_type_minus:after
{
    width: 10px;
    height: 1px;
    position: absolute;
    top: 11px;
    left: 6px;
    content: '';

    background-color: black;
}

.counter__button_type_minus.disabled:after
{
    width: 10px;
    height: 1px;
    position: absolute;
    top: 11px;
    left: 6px;
    content: '';

    background-color: #ccd4da;
}

.counter__delete
{
    width: 19px;
    height: 22px;

    cursor: pointer;

    background: url('/images/trash.png') center center no-repeat;
    background-size: 100%;
}
