.cart__list
{
    display: flex;
    flex-direction: column;
}

.cart__item
{
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 5px;
    padding: 5px;

    border: 1px solid #dee1e4;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .6);

    align-items: center;
    justify-content: space-between;
}

.cart__item .photo
{
    display: flex;

    width: 70px;
    height: 70px;

    border: 1px solid #dee1e4;
    border-radius: 2px;
    background-color: #fff;

    align-items: center;
    justify-content: center;
}

.cart__item img
{
    max-width: 95%;
    max-height: 95%;
}

.common-price
{
    font-size: 22px;

    display: flex;

    justify-content: flex-end;
}

.empty-cart
{
    font-size: 30px;

    display: flex;

    margin: 50px 0 250px;

    justify-content: center;
}

.counter
{
    display: flex;

    width: 130px;

    justify-content: space-between;
}

.counter__input
{
    font-size: 15px;

    width: 25px;
    height: 25px;

    text-align: center;

    border: 1px solid #dee1e4;
    border-radius: 3px;
}

.counter__button
{
    position: relative;

    width: 27px;
    height: 27px;

    cursor: pointer;

    border: 1px solid #dee1e4;
    background-color: #fff;
}

.counter__button_type_plus:after
{
    font-size: 26px;

    position: absolute;
    top: -4px;
    left: 7px;

    content: '+';

    color: #a8abad;
}

.counter__button_type_minus:after
{
    font-size: 36px;

    position: absolute;
    top: -15px;
    left: 8px;

    content: '-';

    color: #a8abad;
}

.counter__delete
{
    width: 22px;
    height: 27px;

    cursor: pointer;

    background: url('/images/trash.png') center center no-repeat;
    background-size: 100%;
}
