.footer
{
    padding: 30px 0 5px;

    min-width: 1256px;

    background-image: url('/images/footer.png');
}

.footer__content
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer__right
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;

    width: 50%;
}

.footer__logo
{
    height: 40px;
}

.footer_nav
{
    display: flex;
    justify-content: flex-end;
}

.footer_nav__list
{
    line-height: 2.5;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer_nav__item
{
    margin-left: 20px;
}

.footer_nav__link
{
    cursor: pointer;

    color: #fff;
}

.footer__copyright
{
    font-size: 12px;

    text-align: center;
    padding-top: 10px;

    color: #fff;
    border-top: 1px solid #494949;
}
