.header__container
{
    display: flex;
    justify-content: space-between;

    padding: 21px 0;
}

.header__top
{
    display: flex;

    border-bottom: 2px solid #ebedef;
    background-color: #fff;
}

.header__contacts
{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.header__address
{
    position: relative;

    line-height: 2.2;
}

.header__address:before
{
    position: absolute;
    top: 7px;
    left: -20px;

    width: 12px;
    height: 16px;

    content: '';

    background-image: url('/images/map-pin.png');
}

.header__phone
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 18px;

    position: relative;

    display: block;

    text-decoration: none;

    color: black;
}

.header__phone:before
{
    position: absolute;
    top: 5px;
    left: -20px;

    width: 12px;
    height: 16px;

    content: '';

    background-image: url('/images/telephone.png');
}

.header__bottom
{
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
}

.header__logo
{
    width: 221px;
    height: 31px;
}

.header__search
{
    position: relative;
}

.search__input
{
    font-family: 'OpenSansLight', Arial, sans-serif;

    overflow: hidden;

    width: 334px;
    padding: 6px 16px;

    border: 1px solid #dee1e4;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .6);
}

.search__submit
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;

    position: absolute;
    top: 0;
    right: 0;

    padding: 7px 15px;

    cursor: pointer;

    color: #fff;
    border-radius: 0 3px 3px 0;
    background-color: #ff6e35;
}

.search__submit:hover
{
    background-color: #e84100;
}

.navigation
{
    width: 30%;
}
.navigation__list
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navigation__link
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 16px;
    line-height: 2.3;

    color: #333;
}
.navigation__link:hover
{
    color: #ff6e35;
}
