

/*******      view column & line       ********/




.product-page
{
   padding-bottom: 50px;
}


.product-page .product-page__center
{
    width: 30%;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-page .product-page__right
{
    width: 30%;
    justify-content: flex-start;
    align-items: flex-end;
}
