.socials
{
    display: inline-block;
    width: 10%;
}

.socials__list,
.footer_socials__list
{
    display: flex;
    justify-content: space-between;
}

.socials__link
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 26px;
    height: 26px;

    border-radius: 50%;
    background-color: #282828;
}

.socials-sprite,
.socials__icon
{
    background: url('/images/socials-sb8bffdc494.png') no-repeat;
}

.socials__icon_type_vk
{
    width: 10px;
    height: 12px;

    background-position: -404px 0;
}
.socials__link:hover .socials__icon_type_vk
{
    background-position: -324px 0;
}

.socials__icon_type_fb
{
    width: 6px;
    height: 12px;

    background-position: -76px 0;
}
.socials__icon_type_fb:hover
{
    background-position: 0 0;
}

.socials__icon_type_tw
{
    width: 16px;
    height: 12px;

    background-position: -238px 0;
}
.socials__icon_type_tw:hover
{
    background-position: -152px 0;
}


.footer_socials
{
    display: inline-block;
    width: 40%;
    margin-bottom: 20px;
}

.footer_socials__link
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    cursor: pointer;

    border-radius: 50%;
    background-color: #fff;
}


.social-sprite,
.footer_socials__icon
{
    background: url('/images/social-se3b75604dd.png') no-repeat;
}

.footer_socials__icon_type_vk
{
    width: 16px;
    height: 21px;

    background-position: 0 -105px;
}
.footer_socials__icon_type_vk:hover
{
    background-position: 0 -84px;
}

.footer_socials__icon_type_fb
{
    width: 11px;
    height: 21px;

    background-position: 0 -21px;
}
.footer_socials__icon_type_fb:hover
{
    background-position: 0 0;
}

.footer_socials__icon_type_tw
{
    width: 25px;
    height: 21px;

    background-position: 0 -63px;
}
.footer_socials__icon_type_tw:hover
{
    background-position: 0 -42px;
}
