.sidebar
{
    display: flex;
    flex-direction: column;

    width: 30%;
}

.filters
{
    width: 100%;
    margin-bottom: 42px;

    border-radius: 5px;
    background-color: #fff;
}

.filters__item
{
    padding: 10px 15px;

    border-bottom: 1px solid #dee1e4;
}
.filters__item:last-child
{
    border-bottom: none;
}

.filter__title
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;

    position: relative;

    display: block;

    padding: 5px;

    cursor: pointer;

    color: #333;
}
.filter__title:hover
{
    font-family: 'OpenSansBold', Arial, sans-serif;
}

.manage-filter
{
    position: absolute;
    top: 11px;
    right: 0;

    display: block;

    width: 18px;
    height: 11px;

    background-image: url('/images/ar.png');
}
.filter
{
    padding: 0 5px 5px;
}

.active .manage-filter
{
    background-image: url('/images/ar^.png');
}

.filter__item
{
    display: block;

    margin-top: 16px;

    list-style: none;
}

.input_type_radio,
.input_type_checkbox
{
    display: none;
}

.label_type_radio
{
    font-size: 14px;

    position: relative;

    display: inline-block;

    padding-left: 29px;

    cursor: pointer;
}

.label_type_radio:before
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 19px;
    height: 19px;
    margin-right: 10px;

    content: '';

    background-color: #fff;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .2);
}

.label_type_radio:before
{
    border-radius: 9px;
}

.input_type_radio:checked + .label_type_radio:before
{
    font-size: 42px;
    line-height: 13px;

    position: absolute;

    box-sizing: border-box;
    width: 19px;
    height: 19px;

    content: '\2022';

    color: #ff6e35;
    border: 2px solid #ff6e35;
    border-radius: 50%;
    box-shadow: none;
}

.label_type_checkbox
{
    position: relative;

    cursor: pointer;
}

.label_type_checkbox:before
{
    left: 0;

    display: inline-block;

    width: 19px;
    height: 19px;
    margin-right: 10px;
    margin-bottom: -4px;

    content: '';

    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .3);
       -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .3);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .3);
}

.input_type_checkbox:checked + .label_type_checkbox:before
{
    width: 19px;
    height: 19px;

    background: #ff6e35;
    box-shadow: none;
}

.input_type_checkbox:checked + .label_type_checkbox:after
{
    font-size: 10px;

    position: absolute;
    top: 2px;
    left: 4px;

    width: 8px;
    height: 6px;

    content: '';
    transform: rotate(125deg) skew(0, 0);

    color: #fff;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}

.reset-filter
{
    font-size: 14px;
    line-height: 1.2;

    display: block;

    margin-top: 14px;

    color: #5db2fc;
}

.filter_type_color .filter__list
{
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

.color__item
{
    display: flex;

    width: 25%;
    height: 60px;

    justify-content: center;
    align-items: center;
}

.color__link
{
    display: block;

    width: 37px;
    height: 37px;

    border: 1px solid #dee1e4;
}

.color__link:hover
{
    border: 2px solid #ff6e35;
}

.color__text
{
    position: absolute;
    top: 0;
    left: -9999px;
}

.color__item .active
{
    border: 2px solid #ff6e35;
}

.price-range
{
    margin-top: 16px;
}

.price-range__input
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;


    width: 80px;
    padding: 5px 6px;

    border: 1px solid #ebedef;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(148, 148, 148, .43);
}

.price-range__box
{
    display: flex;

    justify-content: space-between;
}

.white
{
    background-color: white;
}

.gray
{
    background-color: #ccc;
}

.black
{
    background-color: black;
}

.blue
{
    background-color: #0a3153;
}

.red
{
    background-color: #ff1800;
}

.yellow
{
    background-color: #fff343;
}

.orange
{
    background-color: #fb914a;
}

.green
{
    background-color: #92c37c;
}

.skyblue
{
    background-color: #40a6ff;
}

.violet
{
    background-color: #9870ad;
}

.pink
{
    background-color: #dc78ad;
}

.brown
{
    background-color: #7f401d;
}

select
{
    background-color: #fff;
    width: 100px;
    height: 25px;
}
