@import './style/common.css';
@import './style/fonts.css';
@import './style/filters.css';
@import './style/footer.css';
@import './style/header.css';
@import './style/socials.css';
@import './style/product.css';
@import './style/sort.css';
@import './style/menu.css';
@import './style/breadcrumbs.css';

/* --------- content --------- */
.layout
{
    display: flex;

    justify-content: space-between;
}

.article .container:before,
.article .container:after
{
    display: table;

    content: '';
}
.article .container:after
{
    clear: both;
}

.main_content
{
    display: flex;

    width: 100%;
    height: auto;
    padding-bottom: 100px;

    background-color: #f4f4f4;

    justify-content: space-between;
}
.counter
{
    display: flex;
    justify-content: space-between;
    width: 130px;
}
.counter__input
{
    width: 25px;
    height: 25px;
    border: 1px solid #dee1e4;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}
.counter__button
{
    width: 27px;
    height: 27px;
    border: 1px solid #dee1e4;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}
.counter__button_type_plus:after
{
    position: absolute;
    top: -4px;
    left: 7px;
    content: '+';
    font-size: 26px;
    color: #a8abad;
}
.counter__button_type_minus:after
{
    position: absolute;
    top: -15px;
    left: 8px;
    content: '-';
    font-size: 36px;
    color: #a8abad;
}
.counter__delete
{
    background: url(/images/trash.png) center center no-repeat;
    width: 22px;
    cursor: pointer;
    background-size: 100%;
    height: 27px;
}
.main_content .container
{
    padding-top: 15px;
}

.main_head_text
{
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-size: 20px;

    margin-bottom: 20px;

    color: #333;
}

.right_content
{
    display: flex;
    flex-direction: column;

    width: 67%;
}

.main_information
{
    display: block;
    clear: both;

    background-color: #f4f4f4;
}

.info_container
{
    margin-bottom: 30px;
}

.text_info
{
    font-size: 14px;

    text-align: justify;
    text-indent: 30px;
}

/*******      view 1       ********/
.products_list
{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 8px;

    box-sizing: border-box;
    width: 235px;
    margin-bottom: 15px;

    border: 1px solid #dee1e4;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .6);
    background-clip: padding-box;
}
.products__slideshow
{
    width: 138px;
}
.products__feature
{
    margin-bottom: 10px;
}
.products:hover
{
    z-index: 3;
    box-shadow: 0 1px 5.7px .3px rgba(118, 118, 118, .75);
}

.products__articul
{
    display: none;
}

.products__info
{
    display: none;
}

.products__title
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.429;

    margin-bottom: 1px;
    padding-bottom: 15px;

    text-align: center;

    color: #000;
}

a .products__title,
a .product__price
{
    text-decoration: none;
}

.features__item
{
    padding: 1px 4px 0 3px;

    color: #333;
    background-color: #e6e6e6;
}
.features__item:before,
.features__item:after
{
    display: table;

    content: '';
}
.features__item:after
{
    clear: both;
}
.features__item:nth-child(2n)
{
    background-color: #fff;
}
.features_name
{
    display: block;
    float: left;
}
.features_value
{
    display: block;
    float: right;
}

.slideshow
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 138px;
    height: 138px;
    z-index: 100;
    margin-bottom: 15px;

    border: 1px solid #dee1e4;
    border-radius: 2px;
    background-color: #fff;
    background-clip: padding-box;
}

.big-photo
{
    max-width: 95%;
    max-height: 95%;
}

.mini__list
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    cursor: pointer;
}

.mini__item
{
    position: relative;

    box-sizing: border-box;
    width: 33px;
    height: 33px;

    border: 1px solid #dee1e4;
    border-radius: 2px;
    background-color: #fff;
    background-clip: padding-box;
}
.mini__item:hover
{
    border-color: #333;
}

.slideshow_pic
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.mini__item-active
{
    border-color: #ff6e35;
}
.mini__item-active:hover
{
    border-color: #ff6e35;
}

.mini__img
{
    max-height: 90%;
    max-width: 90%;
}

.reiting__stars
{
    display: inline-block;
}

.stars
{
    margin-right: 9px;
}

.star
{
    display: inline-block;

    width: 16px;
    height: 15px;

    vertical-align: top;

    background-image: url(/images/star2.png);
}

.reiting__stars.stars-1 .star:first-child,
.reiting__stars.stars-2 .star:first-child,
.reiting__stars.stars-2 .star:nth-child(2),
.reiting__stars.stars-3 .star:first-child,
.reiting__stars.stars-3 .star:nth-child(2),
.reiting__stars.stars-3 .star:nth-child(3),
.reiting__stars.stars-4 .star:first-child,
.reiting__stars.stars-4 .star:nth-child(2),
.reiting__stars.stars-4 .star:nth-child(3),
.reiting__stars.stars-4 .star:nth-child(4),
.reiting__stars.stars-5 .star
{
    background-image: url(/images/star1.png);
}

.reiting__value
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 12px;

    display: inline-block;

    padding: 0 10px;

    vertical-align: top;

    color: #fff;
    border-radius: 7px;
    background-color: #b5beca;
    background-clip: padding-box;
}

.products__reiting
{
    text-align:center;
}

.products__link
{
    display: flex;
    justify-content: flex-end;
    padding: 0 4px;
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-size: 13px;

    color: #7f7f7f;
}

.products__price
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 20px;

    margin-bottom: 4px;

    text-align: center;

    color: #333;
}
.products__about
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 90%;
}

.products_nallichie
{
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-size: 12px;

    position: relative;

    color: #7f7f7f;
}
.products_nallichie:before
{
    position: absolute;
    top: 5px;
    left: -10px;

    width: 7px;
    height: 7px;

    content: '';

    border-radius: 50%;
    background-color: #60ac49;
    background-clip: padding-box;
}

.products__buy
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 14px;

    display: inline-block;

    margin-bottom: 12px;
    padding: 6px 15px;

    cursor: pointer;
    vertical-align: middle;

    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #ff6e35;
    background-clip: padding-box;
}
.products__buy:hover
{
    background-color: #e84100;
}

.products_right_content
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/*******      view column       ********/

.products_list_type_column .products
{
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 0;
    padding: 20px;

    border-bottom: none;
    border-radius: 0;
    background-clip: padding-box;
}

.products_list_type_column  .products:first-child,
.products_list_type_line .products:first-child
{
    border-radius: 6px 6px 0 0;
    background-clip: padding-box;
}

.products_list_type_column  .products:last-child,
.products_list_type_line  .products:last-child
{
    border-bottom: 1px solid #dee1e4;
    border-radius: 0 0 6px 6px;
    background-clip: padding-box;
}

.products_list_type_column  .products__slideshow
{
    width: 20%;
}

.products_list_type_column  .products__feature
{
    display: none;
}

.products_list_type_column  .mini__list
{
    margin-bottom: 3px;
}

.products_list_type_column  .products__articul
{
    display: block;

    text-align: center;
}

.products_list_type_column  .products__articul .art
{
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-size: 12px;

    margin-right: 4px;

    color: #7f7f7f;
}

.products_list_type_column  .products__articul .art_number
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 14px;

    display: inline-block;

    color: #333;
}
.products_list_type_column  .products_center_content
{
    width: 50%;
}
.products_list_type_column  .products__info
{
    line-height: 1.43;

    display: block;

    margin-bottom: 14px;
}
.products_list_type_column  .products__title
{
    font-size: 16px;

    margin-bottom: 16px;

    text-align: left;
}
.products_list_type_column  .products__reiting
{
    text-align: left;
}
.products_list_type_column  .products_right_content
{
    width: 20%;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
    border-left: 1px solid #dee1e4;
}

.products_list_type_column  .products__buy
{
    margin-bottom: 0;
}

.products_list_type_column  .products__about
{
    align-items: flex-end;
    justify-content: space-between;
    height: 65%;
    flex-direction: column;
}

/*******      view line       ********/
.products_list_type_line .products
{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    margin-bottom: 0;
}

.products_list_type_line .products__slideshow
{
    display: flex;
}

.products_list_type_line .products_center_content
{
    max-width: 50%;
    margin-right: 5px;
}

.products_list_type_line .products_right_content
{
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.products_list_type_line .products__articul,
.product__container .products__articul
{
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-size: 12px;

    display: inline-block;

    margin-right: 4px;

    color: #7f7f7f;
}

.products_list_type_line .products__about
{
    width: 30%;
    margin-bottom: 0;
}

.products_list_type_line .products__articul .art_number,
.product__container .products__articul .art_number
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 14px;

    display: inline-block;

    color: #333;
}

.products_list_type_line .mini__item,
.products_list_type_line .products__info,
.products_list_type_line .products__reiting,
.products_list_type_line .products__feature,
.products_list_type_line .products_nallichie,
.products_list_type_line .slideshow
{
    display: none;
}

.products_list_type_line .products__slideshow {
    width: 120px;
}

.products_list_type_line .products__title
{
    font-family: 'OpenSansRegular', Arial, sans-serif;
    font-size: 14px;

    display: inline-block;
    overflow: hidden;
    padding-bottom: 0;
    width: 280px;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.products_list_type_line .products__title:before
{
    content: 'Smartphone ';
}

.products_list_type_line .products__price
{
    font-size: 16px;
    width: 100px;
}
.products_list_type_line .products__buy
{
    margin-bottom: 0;
    padding: 7px 15px;
}

.product__container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product__container .slideshow
{
    width: 250px;
    height: 250px;
}

.product__container .products__articul
{
    text-align: center;
    display: flex;
}

.product__container .products_center_content
{
    width: 40%;
}

.product__container .products_right_content
{
    width: 15%;
    align-items: flex-end;
}

.product__information
{
    padding: 40px 0;
}

.product__slideshow
{
    flex-direction: column;
}

.slideshow__big
{
    max-width: 95%;
    max-height: 95%;
}

.slideshow__mini
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    cursor: pointer;
}
.catalog__list
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.catalog__link
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 16px;
    color: #484848;
}

.catalog__item
{
    margin-bottom: 20px;
}
.catalog__wrap
{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #fff;
    border: 1px solid #dee1e4;
    border-radius: 2px;
    margin-bottom: 10px;
}
.catalog__img
{
   max-width: 95%;
   max-height: 95%;
}

.cart__list
{
    display: flex;
    flex-direction: column;
}

.cart__item
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.cart__item .photo
{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #dee1e4;
    border-radius: 2px;
    background-color: #fff;
    background-clip: padding-box;
}
.common-price
{
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
}

.empty-cart
{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 50px 0 250px;
}
.product__slideshow .mini__item
{
    width: 50px;
    height: 50px;
}
.path_products
{
    display: block;
    float: right;

    padding-bottom: 5px;
}

.path__list
{
    display: block;
}

.path__item
{
    display: inline-block;

    margin-left: 1px;
}

.path__link
{
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 11px;

    padding: 4px 8px;

    text-decoration: none;

    color: #7f7f7f;
    border: 1px solid #dee1e4;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #fbfbfb;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .004);
}
.path__link-active
{
    border: 1px solid #c8c8c8;
    background-color: #e0e0e0;
}
.path__link:hover
{
    border: 1px solid #c8c8c8;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12), inset 0 1px 0 1px rgba(255, 255, 255, .004);
       -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12), inset 0 1px 0 1px rgba(255, 255, 255, .004);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12), inset 0 1px 0 1px rgba(255, 255, 255, .004);
}
